# Super Fun with Bayesian Magic
> Let's reverse engineer a superannuation fund, because I'm bored in lockdown.

- toc: true 
- badges: true
- comments: true
- categories: [Bayesian, Finance]
- image: images/22-3-2020-Super-Fun-With-Bayesian-Magic/australian-money-money-note-notes-529875.jpg

In Australia, there have been a number of radical fiscal proposals to fight the economic impacts of COV19.
One of these is to allow "Casual" workers (Those without paid leave entitlements) to withdraw money from their Superannuation account. It's a radical proposal, and one of my friends wanted to understand more about the impacts that this would have.

Their exact question was:
> "I want to know what you would estimate the balance of young people to be (Under the age of 34)"

> Note: Superannuation is a type of pension savings account in Australia, where 9.5% of an employees gross salary is contributed by an employer to an employees account. The account is usually only avalible to the employee when they retire at age 65. While employees have an individual fund, investment decisions are made by a fund manager. With \$1.5 Trillion USD of total assets, and 15M members, the scheme has an average balance of \$100,000 USD per member.

Let's do some analysis, to try and understand more about what the balance of a typical member, in different age and gender brackets looks like. 

I'm focussing on a Superannuation fund called *Hostplus* who describe themselves as follows: 
> "Hostplus is the industry fund for those that live and love Australian hospitality, tourism, recreation and sport".

IE, It's highly likely that many of their members are casual, and will be impacted by this new policy.

Now for some data, I'm pulling it from [here](https://www.apra.gov.au/annual-fund-level-superannuation-statistics)

|              | Number of member accounts | Fund percentage | Average percentage across all funds |
|--------------|---------------------------|-----------------|-------------------------------------|
| Below age 25 |                           |                 |                                     |
| - Male       | 137,531                   | 12              | 5                                   |
| - Female     | 121,298                   | 10              | 6                                   |
| Age 25-34    |                           |                 |                                     |
| - Male       | 211,192                   | 18              | 11                                  |
| - Female     | 197,421                   | 17              | 12                                  |
| Age 35-44    |                           |                 |                                     |
| - Male       | 126,284                   | 11              | 10                                  |
| - Female     | 118,578                   | 10              | 12                                  |

[Source 1 ](https://www.superannuation.asn.au/ArticleDocuments/359/1710_Superannuation_account_balances_by_age_and_gender.pdf.aspx)

In [33]:
import pandas as pd

df = pd.read_csv('data/22-3-2020-Super-Fun-With-Bayesian-Magic/superannuation_demographic_data.csv',sep=';',header=2,skiprows=[3],na_values='*')

In [35]:
df

,Fund name,RSE Regulatory classification,Fund type,RSE Membership base,Fund's RSE licensee,RSE licensee ownership type,RSE licensee profit status,Total number of member accounts at the end of period,Total members' benefits at end of period,Number of members accounts : female,...,35 to 44.3,45 to 49.3,50 to 54.3,55 to 59.3,60 to 64.3,65 to 69.3,70 to 74.3,75 to 84.3,85+.3,Age not available.3
0,Advance Retirement Suite,Public offer,Retail,General base,BT Funds Management Limited,Financial services corporation ownership,For profit status,4 257,242 016,2 022,...,5 067,16 385,25 337,33 835,24 265,14 105,8 389,8 522,2 115,NaN
1,Alcoa of Australia Retirement Plan,Non public offer,Corporate,Corporate base,Alcoa of Australia Retirement Plan Pty Ltd,Employer sponsor (non-public sector) ownership,Not for profit status,5 575,2 110 399,943,...,144 855,199 498,316 700,496 428,368 924,180 194,90 768,NaN,NaN,NaN
2,AMG Super,Public offer,Retail,General base,Equity Trustees Superannuation Limited,Financial services corporation ownership,For profit status,26 631,1 207 910,16 401,...,133 919,73 901,77 101,74 967,80 670,80 669,46 792,38 600,6 737,NaN
3,AMP Eligible Rollover Fund,Public offer,Retail - ERF,General base,AMP Superannuation Limited,Financial services corporation ownership,For profit status,344 498,1 314 606,144 799,...,123 236,146 850,144 130,157 326,120 133,80 376,21 719,6 162,1 443,2 805
4,AMP Retirement Trust,Public offer,Retail,General base,AMP Superannuation Limited,Financial services corporation ownership,For profit status,290 026,16 657 866,122 790,...,1 250 362,892 699,958 048,1 239 739,1 869 105,1 726 314,1 272 513,553 326,29 868,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
166,WA Local Government Superannuation Plan,Public offer,Public Sector,Government base,WA Local Government Superannuation Plan Pty Ltd,Nominating organisation ownership,Not for profit status,56 398,3 916 275,NaN,...,329 344,286 557,355 739,411 157,384 366,252 799,134 972,NaN,NaN,NaN
167,Wealth Personal Superannuation and Pension Fund,Public offer,Retail,General base,N. M. Superannuation Proprietary Limited,Financial services corporation ownership,For profit status,307 147,45 164 907,NaN,...,1 962 911,1 799 016,2 251 413,3 384 014,5 086 797,5 072 506,3 528 669,2 495 078,218 762,NaN
168,Westpac Mastertrust - Superannuation Division,Public offer,Retail,General base,Westpac Securities Administration Limited,Financial services corporation ownership,For profit status,193 312,6 293 890,78 447,...,1 042 664,632 065,575 985,527 562,366 485,162 305,85 684,96 966,19 493,NaN
169,Westpac Personal Superannuation Fund,Public offer,Retail,General base,Westpac Securities Administration Limited,Financial services corporation ownership,For profit status,41 166,367 925,16 487,...,4 435,24 258,46 543,68 753,60 941,32 357,15 916,NaN,NaN,NaN
170,Zurich Master Superannuation Fund,Public offer,Retail,General base,Zurich Australian Superannuation Pty Ltd,Financial services corporation ownership,For profit status,15 694,1 075 407,5 123,...,44 589,75 568,123 446,198 098,154 718,72 766,34 889,37 626,NaN,NaN

In [39]:
hostplus_row = df[df['Fund name'] == 'HOSTPLUS Superannuation Fund']

In [40]:
hostplus_row

,Fund name,RSE Regulatory classification,Fund type,RSE Membership base,Fund's RSE licensee,RSE licensee ownership type,RSE licensee profit status,Total number of member accounts at the end of period,Total members' benefits at end of period,Number of members accounts : female,...,35 to 44.3,45 to 49.3,50 to 54.3,55 to 59.3,60 to 64.3,65 to 69.3,70 to 74.3,75 to 84.3,85+.3,Age not available.3
65,HOSTPLUS Superannuation Fund,Public offer,Industry,Industry base,Host-Plus Pty. Limited,Nominating organisation ownership,Not for profit status,1 193 243,44 680 088,612 812,...,7 034 224,3 394 575,2 750 257,2 490 451,1 843 587,1 008 357,409 016,165 163,NaN,NaN